References :
- https://github.com/cstorm125/thai2fit/blob/master/notebook/lstm_wongnai.ipynb

In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [15]:
from sklearn.datasets import fetch_20newsgroups
import pandas as pd

dataset = fetch_20newsgroups(shuffle=True, random_state=1, remove= 
                             ('headers', 'footers', 'quotes'))
documents = pd.DataFrame(dataset.data)
documents.columns = ['news']
documents['label'] = dataset.target

In [16]:
documents.head()

                                                news  label
0  Well i'm not sure about the story nad it did s...     17
1  \n\n\n\n\n\n\nYeah, do you expect people to re...      0
2  Although I realize that principle is not one o...     17
3  Notwithstanding all the legitimate fuss about ...     11
4  Well, I will have to change the scoring on my ...     10

In [4]:
import numpy as np
import pandas as pd
import dill as pickle
from collections import Counter
from pathlib import Path
from sklearn.model_selection import train_test_split

# from fastai.text import *
from fastai import *
import fastai

In [18]:
# total distribution
cnt = Counter(documents.label)
cnt

Counter({0: 480,
         1: 584,
         2: 591,
         3: 590,
         4: 578,
         5: 593,
         6: 585,
         7: 594,
         8: 598,
         9: 597,
         10: 600,
         11: 595,
         12: 591,
         13: 594,
         14: 593,
         15: 599,
         16: 546,
         17: 564,
         18: 465,
         19: 377})

In [19]:
#baseline
cnt.most_common(1)[0][1] / documents.shape[0]

0.0530316422131872